.section {
  width: 1170px;
  padding: 0 15px;  
}
.awesome-title {
    font-size: 36px;
    text-align: center;
}
.awesome-text {
    font-size: 14px;
    text-align: center;
}
.awesome__item {
    display: inline-block;
    width: 350px;
}
.awesome__item-title {
    font-size: 20px;
    text-align: center;
}
.awesome__item-text {
    font-size: 14px;
    text-align: center;
}
.awesome__item-img {
    
}
