@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/pricing.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
.pricing-title, .awesome-title, .customers-title {
    font-family: raleway;
    font-size: 36px;
    font-weight: 400;
}
.pricing-text, .awesome-text, .customers-text {
    font-size: 14px;
    font-family: open sans;
    font-weight: 400;
    color: #86878B;
}
.row__title{
    font-family: open sans;
    font-size: 20px;
    font-weight: 700;
}
.row__text{
    font-family: open sans;
    font-size: 14px;   
}
h2::after{
    content: '';
    width: 64px;
    height: 2px;
    background-color: #E72424;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}


