@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/social.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-family: raleway;
    font-size: 36px;
    font-weight: 400;
}
.title::after {
    content: '';
    width: 64px;
    height: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}
.text {
    font-size: 14px;
    font-family: open sans;
    font-weight: 400;
}
.row__title{
    font-family: open sans;
    font-size: 20px;
    font-weight: 700;
}
.row__text{
    font-family: open sans;
    font-size: 14px;   
}



